<%= render 'shared/navbar_profile' %>

<div class="wrapper">
  <div class="large-container text-center">
    <div class="avatar-large avat-pic" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.1)), url('<%= cl_image_path(@interlocutor.picture.path, :gravity => :face) %>');"></div>
    <h1 class="text-center">Your conversation with <%= @interlocutor.first_name.capitalize%></h1>
    <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-sm-offset-3">
            <div class="messages-conversation">
              <div class="messages-sent">
                <% @request.messages.each do |message| %>
                  <% if message.creator == current_user %>
                    <div class="sender">
                      <p><%= message.content %></p>
                    </div>
                  <% else %>
                    <div class="receiver">
                      <p><%= message.content %></p>
                    </div>
                  <% end %>
                <% end %>
              </div>
                <%= simple_form_for([@job, @request, @message]) do |f| %>
                  <%= f.error_notification %>
                  <div class="form-inputs">
                    <%= f.input :content, label: false %>
                  </div>
                  <div class="btn-at-right">
                    <div class="form-actions ">
                      <%= f.button :submit, "Send", class: 'btn-jobme-default2' %>
                    </div>
                  </div>
                <% end %>
              <br>
          </div>
          <br>
          <br>
        </div>
      </div>
    </div>
  </div>
</div>

