<p id="notice"><%= notice %></p>

<div class="wrapper">
  <h1 class="text-center">Our best <%= @category %>s in <%= @city %>! </h1>
  <div class="container">
    <div class="row">
      <% @jobs.each do |job| %>
        <div class="col-xs-12 col-sm-4">
          <div class="card-jobs-index" >
            <%= link_to '', job, class:'card-link' %>
            <div class="user-image" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.1)), url('<%= image_path(job.user.photo) %>');">
              <h2><%= "#{job.user.first_name.capitalize} #{job.user.last_name.capitalize}" %></h2>
              <h3><%= "#{job.category.capitalize} in #{job.city.capitalize}"%></h3>
            </div>
            <div class="card-jobs-description">
              <div class="job-title-rating">
                <h2><%=job.title.capitalize%></h2>
                <div class="rating text-inline">
                  <p class="fa fa-star color"></p>
                  <p class="fa fa-star color"></p>
                  <p class="fa fa-star color"></p>
                  <p class="fa fa-star"></p>
                  <p class="fa fa-star"></p>
                </div>
              </div>
              <div class="job-description">
                <p><%=truncate(job.description.capitalize, length: 110)%></p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

