<p id="notice"><%= notice %></p>

<div class="wrapper">
  <div class="container">
    <h2 class="index-title">Best <%= @category %>s in <%= @city.capitalize %> </h2>
    <div class="row">
      <% @jobs.each do |job| %>
        <div class="col-xs-12 col-sm-4">
          <div class="card-jobs-index" >
            <%= link_to '', job, class: 'card-link' %>

            <div class="part-photo-of-card">
              <div class="user-image" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.1)), url('<%= cl_image_path job.user.picture.path %>')">


              </div>
              <h2><%= "#{job.user.first_name.capitalize} #{job.user.last_name.capitalize}" %></h2>
            </div>

            <div class="card-jobs-description">
              <div class="job-category-city">
                <p><%= icon('map-marker') %> <%= job.city.capitalize %></p>
                <!-- <p class="job-category"><%= job.category.capitalize %></p> -->
              </div>

              <h2 class="job-title"><%=job.title.capitalize%></h2>

              <div class="rating text-inline">
                <p class="fa fa-star color"></p>
                <p class="fa fa-star color"></p>
                <p class="fa fa-star color"></p>
                <p class="fa fa-star"></p>
                <p class="fa fa-star"></p>
              </div>
            </div>

          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

