<p id="notice"><%= notice %></p>

<div class="wrapper">
  <div class="margin-for-navbar">

    <div class="container">
      <%= link_to jobs_path(category: @category, city: @city), class: "default-link" do %>
        <%= icon('arrow-left') %> Back to all <%= @category %>s in <%= @city.capitalize %>
      <% end %>
      <div class="index-show-top-card">
        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <div class="pic" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.1)), url('<%= image_path(@job.user.photo || @job.user.facebook_picture_url) %>');">
            </div>
          </div>
          <div class="col-xs-12 col-sm-6">
            <div class="main-info">
              <h2><%= "#{@user.first_name} #{@user.last_name}"%></h2>
              <div class="desc">
                <h4 class="fa fa-paint-brush"><%=" #{@category.capitalize}"  %></h4>
                <br>
                <h4 class="fa fa-map-marker"><%= " #{@city.capitalize}" %></h4>
                <br>
                <h4 class="fa fa-money"><%= " #{@job.price}€ de l'heure" %></h4>
              </div>
              <div class="rating text-inline">
                <p class="fa fa-star color"></p>
                <p class="fa fa-star color"></p>
                <p class="fa fa-star color"></p>
                <p class="fa fa-star"></p>
                <p class="fa fa-star"></p>
              </div>
              <div class="job-reservation">
                <br>
                <br>
                <br>
                <%= link_to "Prenez rendez-vous avec #{@user.first_name}!", new_job_request_path(@job), class:'btn-jobme' %>
                <!-- <button class="btn-jobme">Prenez rendez-vous avec <%=@user.first_name%>!</button> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="index-show-bottom-card">
        <div class="row">
          <div class="col-xs-12 col-sm-4">
            <div class="contact">
              <h4 class="fa fa-envelope"><%="  #{@user.email}" %></h4>
              <br>
              <h4 class="fa fa-linkedin-square"></h4>
              <br>
              <h4 class="fa fa-phone"></h4>
            </div>
          </div>
          <div class="col-xs-12 col-sm-8">
            <div class="job-description">
              <h2><%= @job.title.capitalize %></h2>
              <h4><%= @job.description.capitalize %></h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="index-show-review-card">
      <% @job.reviews.each do |review| %>
            <div class="creator-info">
            <%= image_tag image_path(review.creator.photo), class: "avatar-large" %>
              <h4><%= review.creator.first_name%></h4>
              <h4>Rating: <%= review.rating %>/5</h4>
            </div>
            <div class="review-content">
                <h2><%= review.title %></h2>
                <h4><%= review.content %></h4>
            </div>
      <% end %>
    </div>
  </div>
</div>
