<div class="wrapper">
  <div class="margin-for-navbar">
    <div class="container">
      <div class="show-job-card">

        <div class="show-picture-main-info-card">

          <div class="row">

            <div class="col-xs-12 col-sm-6">
              <div class="main-info">
                <h2><%= "#{@user.first_name.capitalize} #{@user.last_name.capitalize}"%></h2>

                <div class="desc">
                  <p><%= icon('paint-brush') %> <%= @category.capitalize %></p>
                  <p><%= icon('map-marker') %> <%= @city.capitalize %></p>
                  <p><%= icon('money') %> <%= " #{@job.price} € / heure" %></p>
                </div>
              </div>
            </div>

            <div class="col-xs-12 col-sm-6">
              <div class="picture-reviews-button">
                <div class="row">
                  <div class="pic" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.1)), url('<%= cl_image_path @job.user.picture.path %>');">
                  </div>
                </div>

                <div class="align-reviews-btn">
                  <div class="row">
                    <div class="col-xs-6">
                      <div class="rating text-inline">
                        <p class="star color"> <%= icon('star') %></p>
                        <p class="star color"> <%= icon('star') %></p>
                        <p class="star color"> <%= icon('star') %></p>
                        <p class="star"><%= icon('star') %></p>
                        <p class="star"><%= icon('star') %></p>
                      </div>
                    </div>
                    <div class="col-xs-6">
                      <div class="link-book">
                        <%= link_to "Book now", new_job_request_path(@job), class: 'btn-jobme' %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>



        <div class="index-show-bottom-card">
          <div class="row">
            <div class="col-xs-12 col-sm-4">
              <div class="contact">
                <h4 class="fa fa-envelope"><%="  #{@user.email}" %></h4>
                <br>
                <h4 class="fa fa-linkedin-square"></h4>
                <br>
                <h4 class="fa fa-phone"></h4>
              </div>
            </div>
            <div class="col-xs-12 col-sm-8">
              <div class="job-description">
                <h2><%= @job.title.capitalize %></h2>
                <h4><%= @job.description.capitalize %></h4>
              </div>
            </div>
          </div>
        </div>


        <div class="index-show-review-card">
          <% @job.reviews.each do |review| %>
                <div class="creator-info">
                <%= cl_image_tag review.creator.picture.path, class: "avatar-large" %>
                  <h4><%= review.creator.first_name%></h4>
                  <h4>Rating: <%= review.rating %>/5</h4>
                </div>
                <div class="review-content">
                    <h2><%= review.title %></h2>
                    <h4><%= review.content %></h4>
                </div>
          <% end %>
        </div>


      </div>
    </div>
  </div>
</div>
