<%= render 'shared/navbar_profile' %>

<div class="wrapper margin-for-navbar">
  <div class="container">
    <h2 class="requests-title">Appointments you made</h2>
    <div class="row">
      <div class="col-xs-12 col-sm-offset-2 col-sm-8">
        <div class="conversations-list">
          <% @appointments.each do |request| %>
          <div class="request-content">
            <div class="row">
                <div class="col-sm-3">
                  <div class="picture-request" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.1)), url('<%= cl_image_path(request.destinator.picture.path, :gravity => :face) %>');">
                  </div>
                </div>
                <div class="col-sm-5">
                  <p><%= request.destinator.first_name %> <%= request.destinator.last_name %></p>
                  <p><span>Purpose:</span> <%= request.job.category.capitalize %></p>
                  <p>At: <%= request.start_at %></p>
                </div>
                <div class="col-sm-4">
                  <%= link_to "Update appointment", job_request_path(request.job, request), class: 'btn-jobme-default2 request-links' %>
                  <%= link_to 'Delete appointment', job_request_path(request.job, request), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn-jobme-default2 request-links' %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

