<div class="container">
  <!-- Title - brand -->
  <div class="row title-home">
    <h1> <span>Jobme</span> Help yourself. Help your home.</h1>
    <h5>Find a reliable professional to help you with your home improvements.</h5>
  </div>

  <!-- Search form -->
  <%= render 'shared/search' %>
</div>

<!-- Features code -->
<div class="wrapper">
  <h5 class="explanation-title">Our mission:</h5>
  <div class="icons">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="card-icon">
          <div class="row">
            <div class="col-xs-3">
              <div class="icon-detail">
                <%= image_tag "fast1.png", class: "img-icon" %>
              </div>
            </div>
            <div class="col-xs-9">
              <div class="explanation-text">
              <h3>Fast and direct</h3>
              <p>You don't have to post any announce, just choose the professional you want to contact, and it's free !</p>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="card-icon">
          <div class="row">
            <div class="col-xs-3">
              <div class="icon-detail">
                <%= image_tag "reliable1.png", class: "img-icon"%>
              </div>
            </div>
            <div class="col-xs-9">
              <div class="explanation-text">
                <h3>Safe and reliable professionnals</h3>
                <p>Our professsionals are certified and respect French laws. Don't legal issues anymore!</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="card-icon">
          <div class="row">
            <div class="col-xs-3">
              <div class="icon-detail">
                <%= image_tag "lover1.png", class: "img-icon" %>
              </div>
            </div>
            <div class="col-xs-9">
              <div class="explanation-text">
                <h3>Only the best for a loving experience</h3>
                <p>Jobme is based on reputation. At the end of every mission, you validate the paiement of the professional and you left a review as well as a comment</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Our professionals recommended - for now every job but after do a tri par reviews -->
<div class="container">
  <h3 class="recommended-professionals">Our recommended professionnals</h3>
  <div class="row">
    <% @jobs.each do |job| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card-jobs-index" >
          <%= link_to '', job, class: 'card-link' %>
          <div class="part-photo-of-card">
            <div class="user-image" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.1)), url('<%= image_path(job.user.facebook_picture_url || job.user.photo) %>');">
            </div>
            <h2><%= "#{job.user.first_name.capitalize} #{job.user.last_name.capitalize}" %></h2>
          </div>

          <div class="card-jobs-description">
            <div class="job-category-city">
              <p><%= icon('map-marker') %> <%= job.city.capitalize %></p>
              <!-- <p class="job-category"><%= job.category.capitalize %></p> -->
            </div>

            <h2 class="job-title"><%= job.title.capitalize %></h2>

            <div class="rating text-inline">
              <p class="fa fa-star color"></p>
              <p class="fa fa-star color"></p>
              <p class="fa fa-star color"></p>
              <p class="fa fa-star"></p>
              <p class="fa fa-star"></p>
            </div>
          </div>

        </div>
      </div>
    <% end %>
  </div>
</div>

<!--
<div class="container">
  <h3 class="recommended-professionals">Our recommended professionnals! </h3>
    <div class="row">
      <% @jobs.each do |job| %>
        <div class="col-xs-12 col-sm-4">
          <div class="card-jobs-index" >
            <%= link_to '', job, class:'card-link' %>
            <div class="user-image" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.1)), url('<%= image_path(job.user.facebook_picture_url || job.user.photo) %>');">
              <h2><%= "#{job.user.first_name.capitalize} #{job.user.last_name.capitalize}" %></h2>
              <h3><%= "#{job.category.capitalize} in #{job.city.capitalize}"%></h3>
            </div>
            <div class="card-jobs-description">
              <div class="job-title-rating">
                <h2><%=job.title.capitalize%></h2>
                <div class="rating text-inline">
                  <p class="fa fa-star color"></p>
                  <p class="fa fa-star color"></p>
                  <p class="fa fa-star color"></p>
                  <p class="fa fa-star"></p>
                  <p class="fa fa-star"></p>
                </div>
              </div>
              <div class="job-description">
                <p><%=truncate(job.description.capitalize, length: 110)%></p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
</div>
 -->
